.row
  .col-md-9
    .panel.panel-default
      .panel-panel-body
        = render 'form'

  .sidebar.col-md-3
    .panel.panel-default
      .panel-body
        %h5
          = link_to '新建 Note', new_note_path, class: "btn btn-success btn-block"
      .panel-footer
        = link_to "查看我的 #{Note.all.count} 条 Note...", notes_path, class: "text-muted"

    - if Note.all.count != 0
      .panel.panel-default
        .panel-heading
          我最近创建的 Note
        .panel-body
          %ul.list-group
            - @notes.each do |note|
              %li.list-group-item
                = link_to truncate(note.text, length: 30), note, class: "text-muted"
