<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="info">
                    共
                    <%= @note.text.length %>
                    characters &bull;
                    <%= @note.created_at.strftime("%Y-%m-%d") %>
                    <div class="opts pull-right">
                        <%= link_to edit_note_path do %>
                            <i class="glyphicon glyphicon-pencil"></i>
                        <% end %>
                        <%= link_to note_path(@note), method: :delete, data: { confirm: "Are you sure?" }  do %>
                            <i class="glyphicon glyphicon-trash"></i>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <%= markdown @note.text %>
            </div>
        </div>
    </div>
    <div class="col-md-3 sidebar">
        <div class="panel panel-default">
            <div class="panel-body">
                <%= link_to "新建 Note", new_note_path, class: "btn btn-success btn-block" %>
            </div>
            <div class="panel-footer">
                <%= link_to "查看我的 #{Note.all.count} 条 Note...", notes_path, style: "color: black;" %>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">我最近创建的 Note</div>
            <div class="panel-body">
                <ul class="list-group">
                    <% @notes.each do |notes| %>
                        <li class="list-group-item">
                            <%= link_to truncate(notes.text, length: 30), notes, class: "text-muted" %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>
