.panel.panel-default
  .panel-heading
    修改回帖
    .pull-right
      = link_to @article.title, @article
  .panel-body
    = simple_form_for ([@article, @comment]) do |f|
      .form-group
        = f.input :raty
        = f.text_area :body, class: "form-control", rows: 10
      .form-group
        = f.button :submit, class: "btn btn-primary"
        .pull-right
          = link_to '删除', article_comment_path([@article, @comment]),method: :delete, data: { confirm: "Are you sure?" } , role: "button", class: "btn btn-danger"
