<div class="form-group">
    <%= simple_form_for @article, html: { multipart: true } do |f| %>
        <span class="text-muted">
            Node:
        </span>
        <%= f.select :node_id, @nodes %>
        <%= f.file_field :article_img %>
        <%= f.input :title %>
        <div class="form-group">
            <%= f.text_area :text, class: "form-control", "rows": 20 %>
        </div>
        <div class="form-group">
            <%= f.button :submit, class: "btn btn-primary col-xs-2", value: "Save" %>
            <div class="pull-right">
                <%= link_to "排版说明", "https://ruby-china.org/markdown", class: "text-muted" %>
            </div>
        </div>
    <% end %>
</div>
