= simple_form_for @article, html: {multipart: true } do |f|
  %span.text-muted
    Node:
  = f.select :node_id, @nodes
  = f.file_field :article_img
  = f.input :title
  = f.input :text, size: "800"
  = f.button :submit, class: "btn btn-primary"
