.panel.panel-default
  %p.text-center.text-small
    %img{src: "https://twemoji.b0.upaiyun.com/2/svg/1f381.svg", style: "width: 55px;" }
    Ruby China 官方
    %a{href: "https://gems.ruby-china.org/", style: "color: black;"} RubyGems 镜像
    %a{href: "https://ruby-china.org/wiki/ruby-mirror", style: "color: black;"}
      Ruby 镜像
    正式上线!
    %br/
    %span{style: "color: #CD496A; background-color: #F9F2F4;"}
      gem source -a https://gems.ruby-china.org

.row.hidden-sm.hidden-xs
  .col-md-3
    .item.item1
      .icon
        = link_to image_tag("chat.gif", class: "chat"), topics_path
      .text
        %a{class: "text-muted", href: "/topics"}
          Ruby 社区
          %i.pull-right
            %span.glyphicon.glyphicon-arrow-right
  .col-md-3
    .item.item2
      .icon
        = link_to image_tag("people.gif", class: "documents"), wiki_index_path
      .text
        %a{href: "/wiki", class: "text-muted"}
          技术文档
          %i.pull-right
            %span.glyphicon.glyphicon-arrow-right
  .col-md-3
    .item.item3
      .icon
        = link_to image_tag("document.gif", class: "documents"), jobs_path
      .text
        %a{href: "/jobs", class: "text-muted"}
          招聘与求职
          %i.pull-right
            %span.glyphicon.glyphicon-arrow-right
  .col-md-3
    .item.item4
      .icon
        = link_to image_tag("ruby.gif", class: "ruby"), popular_topics_path
      .text
        %a{href: "/topics/popular", class: "text-muted"}
          精华文章
          %i.pull-right
            %span.glyphicon.glyphicon-arrow-right
%br/


.panel.panel-default#post_content
  .panel-heading
    %p.panel-title 社区精华帖
  .panel-body.row
    - @article.each do |article|
      %h5.col-md-6.clearfix
        = link_to truncate(article.title, length: 30), article, style: "color: black";
        %span.badge.pull-right
          = article.comments.count
        .info.text-muted
          = link_to article.node.nodeName, topic_path(article.node.id), class: "text-muted"
          &bull;
          - if ! article.comments.blank?
            = time_ago_in_words(article.comments.last.created_at)
            ago
        %hr/

  .panel-footer
    = link_to '查看更多精华帖...', topics_path, class: "text-muted"

.panel.panel-default
  .panel.panel-heading
    %p.panel-title Node Navigation
  .panel-body
    %div.col-md-1.col-xs-3.col-sm-3
      %a{style: "color: #333;", href: "topics/#{1}"} 新手问题
    %div.col-md-1.col-xs-3.col-sm-3
      %a{style: "color: #333;", href: "topics/#{2}"} 招聘
    %div.col-md-1.col-xs-3.col-sm-3
      %a{style: "color: #333;", href: "topics/#{3}"} Rails
    %div.col-md-1.col-xs-3.col-sm-3
      %a{style: "color: #333;", href: "topics/#{4}"} Ruby
    %div.col-md-1.col-xs-3.col-sm-3
      %a{style: "color: #333;", href: "topics/#{5}"} Gem
    %div.col-md-1.col-xs-3.col-sm-3
      %a{style: "color: #333;", href: "topics/#{6}"} RVM/Rbenv
    %div.col-md-1.col-xs-3.col-sm-3
      %a{style: "color: #333;", href: "topics/#{7}"} JRuby
    %div.col-md-1.col-xs-3.col-sm-3
      %a{style: "color: #333;", href: "topics/#{8}"} mRuby
    %div.col-md-1.col-xs-3.col-sm-3
      %a{style: "color: #333;", href: "topics/#{9}"} JRuby
    %div.col-md-1.col-xs-3.col-sm-3
      %a{style: "color: #333;", href: "topics/#{10}"} mRuby
    %div.col-md-1.col-xs-3.col-sm-3
      %a{style: "color: #333;", href: "topics/#{9}"} 开源项目
    %div.col-md-1.col-xs-3.col-sm-3
      %a{style: "color: #333;", href: "topics/#{10}"} Testing

.panel.panel-default
  .panel.panel-heading
    %p.panel-title Hot Cities
  .panel-body.text-center
    %span
      %a.text-muted{href: "#"} 北京
    %span
      %a.text-muted{href: "#"} 上海
    %span
      %a.text-muted{href: "#"} 深圳
    %span
      %a.text-muted{href: "#"} 广州
    %span
      %a.text-muted{href: "#"} 杭州
    %span
      %a.text-muted{href: "#"} 成都
    %span
      %a.text-muted{href: "#"} 武汉
