.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        .media-body
          %h1.media-heading
            = @article.title
          .info
            = link_to "#{@article.node.nodeName}", topic_path(@article.node.id), class: "text-muted"
            &bull;
            Created at
            = @article.created_at
            - if ! @article.comments.blank?
              Last by
              = @article.comments.last.user.email
              replied at
              = @article.comments.last.created_at

      .panel-body
        - if ! @article.article_img.blank?
          .img-thumbnail
            = image_tag @article.article_img.url(:show_img), class: "img-responsive"
        %p
          = @article.text

      .panel-footer.clearfix
        .opts
          %a.text-muted{href: "#"}
            %i.glyphicon.glyphicon-heart
          %a.text-muted{href: "#"}
            %i.glyphicon.glyphicon-bookmark
            收藏
          %span.opts.pull-right
            - if user_signed_in?
              - if @article.user_id == current_user.id
                = link_to edit_article_path, class: "text-muted" do
                  %i.glyphicon.glyphicon-pencil
                = link_to article_path, method: :delete, data: { confirm: "Are you sure?" }, class: "text-muted" do
                  %i.glyphicon.glyphicon-trash

    .panel.panel-default
      .panel-heading
        共收到
        = @article.comments.all.count
        条回复
      .panel-body
        - if @article.comments.blank?
          .well.text-capitalize.help-block.text-center
            No Reply at the moment.
        - else
          = render  @article.comments

    .panel.panel-default
      .panel.panel-body
        %span.text-muted
          = link_to '发表评论', new_article_comment_path(@article), role: "button", class: "btn btn-primary"

    .panel.panel-default
      .panel-heading 相关话题
      %ul.list-group
        - Article.all.shuffle[0..4].each do |article|
          %li.list-group-item
            = link_to article.title, article, class: "text-muted"
:javascript
  $('.star-rating').raty({
    path: '/assets/',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
    }
  });
