%h1
  = @article.title

%h2
  = link_to 'new comment', new_article_comment_path(@article)

%h2
  comments:
  = render  @article.comments

.btn.btn-group.col-xs-offset-5
  = link_to 'Back', root_path, class: "btn btn-default"
  = link_to 'Edit', edit_article_path, class: "btn btn-primary"
  = link_to 'Destroy', article_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"

= console
