.row
  .col-md-9
    %nav.navbar.navbar-default
      .navbar-header
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a 所有节点
            %li
              = link_to '默认', topics_path
            %li
              = link_to '优质帖子', popular_topics_path
            %li
              = link_to '无人问津', no_reply_topics_path
            %li.active
              = link_to '最新发布', last_topics_path
    .panel.panel-default
      .panel-body
        %ul.list-group
          - @article.each do |article|
            %li.list-group-item
              .media-body
                .media-heading
                  = link_to article.title, article, style: "color: #222222;"
                .media-info
                  = link_to article.node.nodeName, topic_path(article.node.id), class: "text-muted"
                  - if ! article.comments.blank?
                    &bull;
                    = article.comments.last.created_at
              .media-right
                %span.badge.pull-right
                  = article.comments.count

      .panel-footer.clearfix
        %ul.pagination
          %li.disabled
            %a{href: "#"}
              %span &laquo;
              Previous
          %li.active
            %a{style: "color: #555;", :href => "#" } 1
          %li
            %a{style: "color: #555;", :href => "#" } 2
          %li
            %a{style: "color: #555;", :href => "#" } 3
          %li
            %a{style: "color: #555;", :href => "#" } 4
          %li
            %a{style: "color: #555;", :href => "#" } 5
          %li
            %a{style: "color: #555;",href: "#"}
              Next
              %span
                &raquo;
  .col-md-3
    .panel.panel-default
      .panel-body
        = link_to "new topic", new_article_path, class: "text-capitalize btn btn-primary btn-block"
    .panel.panel-default
      .panel-heading 小贴士
      .panel-body
        回帖里面当 “喜欢” 的数量达到 5 人以上，此回帖将会以高亮显示。

    .panel.panel-default
      .panel-heading 推荐 Ruby 资源
      .panel-body
        %ul.list-group
          %li.list-group-item
            %i.glyphicon.glyphicon.cloud
            = link_to 'Ruby 镜像', "https://ruby-china.org/wiki/ruby-mirror"
          %li.list-group-item
            %i.glyphicon.glyphicon-expand
            = link_to 'Rails 视频教程', "http://railscasts.com/"
          %li.list-group-item
            %i.glyphicon.glyphicon-folder-close
            = link_to 'Rails Guildes 中文版', "http://guides.ruby-china.org/"
          %li.list-group-item
            %i.glyphicon.glyphicon-folder-close
            = link_to 'Ruby on Rails 教程', "https://railstutorial-china.org/"

    .panel.panel-default
      .panel-heading 友情社区
      %ul.list-group
        %li.list-group-item
          = link_to image_tag("node.png", style: "width: 130px;"), "http://cnodejs.org"
        %li.list-group-item
          = link_to image_tag("golang.png", style: "width: 130px;"), "http://golangtc.com/"
        %li.list-group-item
          = link_to image_tag("phphub.png", style: "width: 130px;"), "https://laravel-china.org"
        %li.list-group-item
          = link_to image_tag("elixir.png", style: "width: 130px;"), "http://elixir-cn.com"
        %li.list-group-item
          = link_to image_tag("ionic.png", style: "width: 130px;"), "http://ionichina.com/"
        %li.list-group-item
          = link_to image_tag("testerhome.png", style: "width: 130px;"), "https://testerhome.com/"


    .panel.panel-default
      .panel-heading Statistics
      .panel-body
        %ul.list-group
          %li.list-group-item
            社区会员:
            = User.all.count
            人
          %li.list-group-item
            帖子数:
            = Article.all.count
            个
          %li.list-group-item
            回帖数:
            = Comment.all.count
            条
