.row
  .col-md-9
    .panel.panel-default
      .panel-body
        - if @article.count != 0
          %ul.list-group
            - @article.each do |article|
              %li.list-group-item
                .media-body
                  .media-heading
                    = link_to article.title, article
                  .media-info
                    = link_to "#{article.node.nodeName}", topic_path, class: "text-muted"
                    &bull;
                    - if ! article.comments.blank?
                      = article.comments.last.created_at
                .media-right
                  %span.badge.pull-right
                    = article.comments.count
        - else
          %p.well.text-capitalize
            here no title yet.

  .col-md-3
