.row
  .col-md-9
    - if @article.count <= 0

      %p.help-block.text-capitalize
        there is no title ^_^.

    - else

      .panel.panel-default
        .panel-body
          %ul.list-group
            - @article.each do |article|
              %li.list-group-item
                .media-body
                  .media-heading
                    = link_to article.title, article, class: "text-muted"
                  .media-info
                    = link_to article.node.nodeName, topic_path(article.node.id), class: "text-muted"
                    - if ! article.comments.blank?
                      &bull;
                      = article.comments.last.created_at.strftime("%Y 年 %m 月 %d 日")
                .media-right
                  %span.badge.pull-right
                    = article.comments.count


        .panel-footer
        = will_paginate @article, renderer: BootstrapPagination::Rails, previous_label: "&larr;Previous", next_label: "Next&rarr;", inner_window: 2, outer_window: 0

  .col-md-3
    .panel.panel-default
      .panel-body
        = link_to "new topic", new_article_path, class: "text-capitalize btn btn-primary btn-block"
    .panel.panel-default
      .panel-heading 小贴士
      .panel-body
        = @random_text

    .panel.panel-default
      .panel-heading 推荐 Ruby 资源
      .panel-body
        %ul.list-group
          %li.list-group-item
            %i.glyphicon.glyphicon.cloud
            = link_to 'Ruby 镜像', "https://ruby-china.org/wiki/ruby-mirror"
          %li.list-group-item
            %i.glyphicon.glyphicon-expand
            = link_to 'Rails 视频教程', "http://railscasts.com/"
          %li.list-group-item
            %i.glyphicon.glyphicon-folder-close
            = link_to 'Rails Guildes 中文版', "http://guides.ruby-china.org/"
          %li.list-group-item
            %i.glyphicon.glyphicon-folder-close
            = link_to 'Ruby on Rails 教程', "https://railstutorial-china.org/"

    .panel.panel-default
      .panel-heading 友情社区
      %ul.list-group
        %li.list-group-item
          = link_to image_tag("node.png", style: "width: 130px;"), "http://cnodejs.org"
        %li.list-group-item
          = link_to image_tag("golang.png", style: "width: 130px;"), "http://golangtc.com/"
        %li.list-group-item
          = link_to image_tag("phphub.png", style: "width: 130px;"), "https://laravel-china.org"
        %li.list-group-item
          = link_to image_tag("elixir.png", style: "width: 130px;"), "http://elixir-cn.com"
        %li.list-group-item
          = link_to image_tag("ionic.png", style: "width: 130px;"), "http://ionichina.com/"
        %li.list-group-item
          = link_to image_tag("testerhome.png", style: "width: 130px;"), "https://testerhome.com/"


    .panel.panel-default
      .panel-heading Statistics
      .panel-body
        %ul.list-group
          %li.list-group-item
            社区会员:
            = User.all.count
            人
          %li.list-group-item
            帖子数:
            = Article.all.count
            个
          %li.list-group-item
            回帖数:
            = Comment.all.count
            条
