.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        国外著名网站
    .panel-body
      %div.col-md-2
        = image_tag ("github.gif"), style: "width: 16px; height: 16px;"
        %a.text-muted{href: "https://github.com"} GitHub
      %div.col-md-2
        = image_tag ("Slideshare.gif"), style: "width: 16px; height: 16px;"
        %a.text-muted{href: "http://www.slideshare.net/"} Slideshar
      %div.col-md-2
        = image_tag ("Dribble.gif"), style: "width: 16px; height: 16px;"
        %a.text-muted{href: "http://dribbble.com/"} Dribble
      %div.col-md-2
        = image_tag ("Hulu.gif"), style: "width: 16px; height: 16px;"
        %a.text-muted{href: "http://www.hulu.com/"} Hulu
      %div.col-md-2
        = image_tag ("twitter.gif"), style: "width: 16px; height: 16px;"
        %a.text-muted{href: "http://twitter.com/"} Twitter
      %div.col-md-2
        = image_tag ("themeforest.gif"), style: "width: 16px; height: 16px;"
        %a.text-muted{href: "http://themeforest.net/"} Themeforest

.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        国际商业网站
    .panel-body

.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        Ruby 社区网站
    .panel-body


.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        国外企业 / 团队
    .panel-body

.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        国内企业 / 团队
    .panel-body

.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        Ruby 开源社区
    .panel-body

.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        技术博客
    .panel-body
.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        其他
    .panel-body
