.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        国外著名网站
    .panel-body
      %div.col-md-2
        = image_tag("github.gif")
        %a.text-muted{href: "https://github.com", title: "目前最流行的代码托管网站"} GitHub
      %div.col-md-2
        = image_tag("Slideshare.gif")
        %a.text-muted{href: "https://www.slideshare.net/"} Slideshar
      %div.col-md-2
        = image_tag("Dribble.gif")
        %a.text-muted{href: "https://dribbble.com/"} Dribble
      %div.col-md-2
        = image_tag("Hulu.gif")
        %a.text-muted{href: "https://www.hulu.com/"} Hulu
      %div.col-md-2
        = image_tag("twitter.gif")
        %a.text-muted{href: "https://twitter.com/"} Twitter
      %div.col-md-2
        = image_tag("themeforest.gif")
        %a.text-muted{href: "https://themeforest.net/"} Themeforest
      %div.col-md-2
        = image_tag("groupon.gif")
        %a.text-muted{href: "https://groupon.com/", title: "团购网站的鼻祖"} Groupon
      %div.col-md-2
        = image_tag("basecamp.png")
        %a.text-muted{href: "https://basecamphq.com/"} BaseCamp
      %div.col-md-2
        = image_tag("heroku.gif")
        %a.text-muted{href: "https://dashboard.heroku.com/", title: "Heroku 是美国著名的SAAS厂商Salesforce旗下的PAAS平台，可以在上部署 Rails 应用。Ruby之父松本行弘现担任该公司的首席架构师，旨在推动 Ruby 在云计算平台的发展。Heroku 是美国著名的SAAS厂商Salesforce旗下的PAAS平台，可以在上部署 Rails 应用。Ruby之父松本行弘现担任该公司的首席架构师，旨在推动 Ruby 在云计算平台的发展。Heroku 是美国著名的SAAS厂商Salesforce旗下的PAAS平台，可以在上部署 Rails 应用。Ruby之父松本行弘现担任该公司的首席架构师，旨在推动 Ruby 在云计算平台的发展。"} Heroku
      %div.col-md-2
        = image_tag("lfttt.gif")
        %a.text-muted{href: "https://ifttt.com/", title: "lfttt 云任务网站，基于 rails 3.2"} lfttt
      %div.col-md-2
        = image_tag("apple-beta.gif")
        %a.text-muted{href: "https://beta.apple.com/sp/betaprogram/", title: "Apple Beta 版软件计划"} Apple Beta
      %div.col-md-2
        = image_tag("product-hunt.gif")
        %a.text-muted{href: "https://www.producthunt.com/", title: ""} Product Hunt
      %div.col-md-2
        = image_tag("uservoice.gif")
        %a.text-muted{href: "https://www.uservoice.com/", title: "UserVoice integrates easy-to-use feedback, helpdesk, and knowledge base management tools in one platform that empowers users to speak and companies to understand. "} UserVoice


.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        国际商业网站
    .panel-body

.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        Ruby 社区网站
    .panel-body


.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        国外企业 / 团队
    .panel-body

.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        国内企业 / 团队
    .panel-body

.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        Ruby 开源社区
    .panel-body

.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        技术博客
    .panel-body
.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        其他
    .panel-body
